<?xml version="1.0" encoding="utf-8"?>
<SETTINGS>
  <COLOR_METHOD>Morey</COLOR_METHOD>
  <IBU_METHOD>Tinseth</IBU_METHOD>
  <BRIXCORRECTION>1.03</BRIXCORRECTION>
  <PELLET_FACTOR>10</PELLET_FACTOR>
  <PLUG_FACTOR>2</PLUG_FACTOR>
  <GRAIN_ABSORPTION>1.01</GRAIN_ABSORPTION>
  <MAX_NR_BREWS>0</MAX_NR_BREWS>
  <PLAY_SOUNDS>TRUE</PLAY_SOUNDS>
  <SHOW_SPLASH>TRUE</SHOW_SPLASH>
</SETTINGS>
