[Desktop Entry]
Version=1.0
Comment=Design and brew your own beer
Encoding=UTF-8
Name=BrewBuddy
Categories=Application;Utility;
Exec=/usr/bin/brewbuddy
X-MultipleArgs=false
Hidden=false
Icon=brewbuddy.png
Terminal=false
Type=Application
StartupWMClass=brewbuddy
StartupNotify=true 
